<script>
    let firstName = "Stoyan";
    let lastName = "Manev";
    let beltColout = "black";

    // Reactive value
    $: fullName = `${firstName} ${lastName}`;

	// Reactive statement
    $: {
		console.log(beltColout);
		console.log(fullName);
	};

    const hadleClick = () => {
        beltColout = "blue";
    };
</script>

<main>
    <p style="color: {beltColout}">{fullName} - {beltColout} belt</p>
    <input type="text" bind:value={firstName} />
    <input type="text" bind:value={lastName} />
    <input type="text" bind:value={beltColout} />
</main>

<style>
    main {
        text-align: center;
        padding: 1em;
        max-width: 240px;
        margin: 0 auto;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
</style>
